useDynLib(seqmutprobs)
export(seqtoPPAs,extract_site_info)
S3method(seqtoPPAs,default)
S3method(summary,mutPPAs)
S3method(print,mutPPAs)
S3method(plot,mutPPAs)
S3method("[",mutPPAs)
S3method(print,summary.mutPPAs)
S3method(plot,summary.mutPPAs)
S3method(print,mutPPAs.list)
S3method(summary,mutPPAs.list)
S3method(plot,mutPPAs.list)
S3method(print,summary.mutPPAs.list)
S3method(plot,summary.mutPPAs.list)
