S3method(seqtoPPAs,default)
export("[.mutPPAs")
export(extract_site_info)
export(plot.mutPPAs)
export(plot.mutPPAs.list)
export(plot.summary.mutPPAs)
export(plot.summary.mutPPAs.list)
export(plot_fullentropy)
export(plot_sitesofinterest)
export(print.mutPPAs)
export(print.mutPPAs.list)
export(print.summary.mutPPAs)
export(print.summary.mutPPAs.list)
export(seqtoPPAs)
export(summary.mutPPAs)
export(summary.mutPPAs.list)
useDynLib(seqmutprobs)
